<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="addFilm.css">
    <title>Add Film</title>
</head>

<header>
    {{>navbar}}
</header>

<body>
    <div class="container">
        <form action="/addFilm/film" method="POST">

            <label for="name">Movie Name </label>
            <input type="text" name="name">

            <label for="actor">Main Actor </label>
            <input type="text" name="actor">

            <label for="description">Movie Description </label>
            <textarea id="desc" name="description" rows="10" cols="30"></textarea>

            <label for="year">Year Released </label>
            <input type="number" name="year">

            <button type="submit">Add Film</button>
            <input id="reset" type="reset">
        </form>
    </div>
</body>

</html>